* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  background: #ffe4cf;
}
.start-page h1 {
  font-size: 75px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 10;
  width: max-content;
  transform: translateX(350px) translateY(250px);
}
.start-page p {
  font-size: 50px;
  padding: 40px;
  transform: translateX(350px);
}

#startbtn {
  font-size: 30px;
  margin: auto;
  background: #fff;
  padding: 30px;
  transform: translateX(400px) translateY(200px);
  border-radius: 1px;
}
