* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #d5a87cd0;
}
.application {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.application h1 {
  font-weight: 40px;
  color: #42f5d1;
  border-bottom: 1px solid #d4845f;
  padding-bottom: 30px;
}
